.form-parent > *:first-child {
	margin-top: 0rem;
}
.form-parent > *:last-child {
	margin-bottom: -0.5rem;
}

.form-title {
	margin-bottom: 2rem;
	text-align: center;
}

.form-input-group {
	margin-bottom: 1rem; 
}

#back {
	padding: 1rem 3.4988rem;
}

.style-1-table-container {
	width: 900px;
	padding: 2rem;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	border-radius: var(--border-radius);
	background: var(--color-secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.style-1-table {
	width: 900px;
	text-align: center;
}

.style-1-th {
	background: var(--color-primary);
}

.style-1-tr {
	background: #eeeeee;
}

.style-1-table, .style-1-th, .style-1-td {
	border: 2px solid;
	border-color: var(--color-primary-moredark);
	margin-bottom: 1rem;
}

.style-1-th, .style-1-td {
	padding: 5px;
}

.style-1-row:hover {
	background: var(--color-background);
}
